.about {
    max-width: 1440px;
    width: 100%;
    max-height: 624px;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about__avatar {
    width: 32.2%;
    height: auto;
    border-radius: 50%;
    margin: 80px 5% 80px 7.2%;
    object-fit: contain;
}

.about__container {
    max-width: 600px;
    margin-right: 7.2%;

}

.about__title {
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0;
}

.about__text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

@media (max-width: 950px) {
    .about__avatar {
        margin-left: 5.2%;
    }
    .about__title {
        font-size: 30px;
        line-height: 40px;
    }
    .about__container {
        margin-right: 5.2%;
    }
}

@media (max-width: 650px) {
    .about {
        max-height: 800px;
        flex-direction: column;
        align-items: center;
    }
    .about__avatar {
        width: 90%;
        max-width: 300px;
        margin: 32px auto 24px;
    }
    .about__container {
        margin: 0 5%;
    }

}