.news-card-list {
    min-height: 974px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.news-card-list__title {
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 80px 0 64px 7.2%;
}

.news-card-list__title_burger-menu {
    margin-top: 147px;
}

.news-card-list__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
    margin: 0 104px 0 ;
}

.news-card-list__button {
    background: #fff;
    border-radius: 80px;
    padding: 18px 84px 22px;
    outline: none;
    border: none;
    margin: 64px auto 80px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.news-card-list__button_disabled {
    background: #E6E8EB;
    color: #B6BCBF;
}

.news-card-list__button:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media (max-width: 900px) {
    .news-card-list {
        width: 95%;
    }

    .news-card-list__container {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 8px;
        margin: 0 40px 0 ;
    }
}

@media (max-width: 450px) {
    .news-card-list__container {
        margin: 0 16px 0 ;
    }
}
